body {
  overflow-x: hidden;
  
  
}
html{background-color:rgba(221, 228, 221,0.5)}
#cabecera {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  margin-top: 3%;
  background-color:rgba(221, 228, 221,0.5)
}
#contenido {
  width: 100%;
  margin-top: 50px;

}

.divTop {
  width: 98%;
  min-width: 200px;
  margin: 0.46%;
  float: left;
  height: 455px;
  min-height: 100px;

  float: left;
  border: 1px solid salmon;
  border-radius: 10px;
  overflow: hidden;
}

#imgTop {
  height: 100%;
  width: 100%;
}
.divTop #canvas1 {


height: 100%;
  width: 100%;
  padding: 5%;
  padding-bottom: 22%;
  min-height: 200px;
  min-width: 200px;
top: 0;
left: 0;

 
}
.titulo {
  border: 2px solid;
  border-radius: 30px;
}
#cuadros {
  margin-left: 0.5%;
  margin-right: 0.5%;
  overflow-wrap: auto;
  display: flexbox;
  width: 100%;
  justify-content: center;
}
#cuadros #canvas2,
#canvas3,
#canvas4,
#canvas5,
#canvas6,
#canvas7 {
  height: 100% ;
  width: 100%;
}

#img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.divCenter {
  height: 420px;
  min-width: 200px;
  min-height: 200px;
  width: 32%;
  margin: 0.46%;
  float: left;
  border: 1px solid salmon;
  border-radius: 10px;
  overflow: hidden;
align-items: center;
}
.ic{  padding:15%}
.divButtom {
  height: 300px;
  min-width: 300px;
  min-height: 200px;
  width: 32%;
  margin: 0.46%;
  float: left;
  border: 1px solid salmon;
  border-radius: 10px;
  overflow: hidden;
}

.textContenido {
  text-align: center;
  padding: 10px;
}