body {
  overflow-x: hidden;

  
}
html{ background-color:rgba(221, 228, 221)}
#cabecera {
  margin: 0px auto;

  text-align: center;
  margin-top: 3%;
 
}
#contenido {
  width: 100%;
  margin-top: 50px;

}

.divTop {
  width: 70%;
  min-width: 200px;
  margin: 0.46%;
  float: left;
  height: 380px;
  min-height: 100px;

  float: left;
  border: 1px solid rgba(173, 177, 173);
  border-radius: 10px;
  overflow: hidden;
  background-color:white
}
.divTopPequeño{
  height: 380px;
  min-width: 200px;
  min-height: 200px;
  width: 27%;
  margin: 0.46%;
  float: left;
  border: 1px solid rgba(173, 177, 173);
  border-radius: 10px;
  overflow: hidden;
align-items: center;
background-color:white
}

#imgTop {
  height: 100%;
  width: 100%;

}
.divTop #canvas1 {


height: 100%;
  width: 100%;
  padding: 4%;
  padding-bottom: 15%;
  min-height: 200px;
  min-width: 200px;
top: 0;
left: 0;

 
}
.titulo {
  border: 2px solid;
  border-radius: 30px;
}
#cuadros {
  margin-left: 0.5%;
  margin-right: 0.5%;
  overflow-wrap: auto;
  display: flexbox;
  width: 100%;
  justify-content: center;
}
#cuadros #canvas2,
#canvas3,

#canvas6,
#canvas7 {
  height: 100% ;
  width: 100%;
}

#img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.divCenter {
  height: 250px;
  min-width: 50px;
  min-height: 50px;
  width: 23.8%;
  margin: 0.46%;
  float: left;
  border: 1px solid rgba(173, 177, 173);
  border-radius: 10px;
  overflow: hidden;
  background-color:white
}

.divButtomGrande{
  width: 70%;
  min-width: 200px;
  margin: 0.46%;
  float: left;
  height: 380px;
  min-height: 100px;

  float: left;
  border: 1px solid rgba(173, 177, 173);
  border-radius: 10px;
  overflow: hidden;
  background-color:white
}
#canvas4, #canvas5{
  height: 100%;
  width: 100%;
  padding: 4%;
  padding-bottom: 15%;
  min-height: 200px;
  min-width: 200px;
top: 0;
left: 0;
}

.divButtomPequeño {
  height: 380px;
  min-width: 200px;
  min-height: 200px;
  width: 27%;
  margin: 0.46%;
  float: left;
  border: 1px solid rgba(173, 177, 173);
  border-radius: 10px;
  overflow: hidden;
align-items: center;
background-color:white
}
.ic{  padding:10%;
}


.textContenido {
  text-align: center;
  padding: 10px;
}