#contenido {
    width: 100%;
    margin-top: 50px;
  
  }

  .divTop {
    width: 70% ;
    min-width: 300px;
    margin: 0.46%;
    float: left;
    height: 380px ;
    min-height: 200px;
  
    border: 1px solid rgba(173, 177, 173);
    border-radius: 10px;
    overflow: hidden;
    background-color:white
  }

  .imgTopButtom {
    height: 380px ;
    width: 100%;
 
  }
  
  .imgCenter {
    height: 250px ;
    width: 100%;
 
  }

  .divTopPequeño{
    height: 380px;
    min-width: 300px;
    min-height: 200px;
    width: 27%;
    margin: 0.46%;
    float: left;
    border: 1px solid rgba(173, 177, 173);
    border-radius: 10px;
    overflow: hidden;
  align-items: center;
  background-color:white
  }


.divGraf{
  height: 100%;
  width: 100%;
}
  .divCenter {
    height: 250px;
    min-width: 300px;
    min-height: 200px;
    width: 23.8%;
    margin: 0.46%;
    float: left;
    border: 1px solid rgba(173, 177, 173);
    border-radius: 10px;
    overflow: hidden;
    background-color:white;
    align-items: center
  }
  .loadingDiv{
    
    position: absolute;
    top: 35%;
    left: 42%;
    display: block;
  }
